.app-header {
	background-color: #1e88e5;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
	position: fixed;
	height: 90px;
	width: 100%;

	.container {
		margin: 26px;
		display: flex;
		justify-content: space-between;

		.title-header {
			font-size: 2em;
		}
	}
}
